.wrapper {
	width: 960px;
}

#top {
	width: 100%;
	margin: 0px;
	padding: 20px;
	background: grey;
}
nav {
	float: left;
	}

#myName {
	background-color: #4AAAA5;
	width: 15%;
	padding: 30px 15px 30px 15px;
	margin-left: 150px;
	text-align: center;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: white;
	float: left;
}

#about {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #9F9DA7;
	float: right;
	padding: 30px 10px 30px 10px;
}

#portfolio{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #9F9DA7;
	float: right;
	padding: 30px 10px 30px 10px;
}

#contact{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #9F9DA7;
	float: right;
	padding: 30px 220px 30px 10px;
}
#textured{
	clear: both;
	overflow: auto;
	background-image: url("images/Subtle-Light-Tile-Pattern-Vol4.jpg");
	width: 100%;
	height: 100%;
	border-top: solid lightgrey;
}
#textBox{
	width: 45%;
	padding: 20px 20px 0px 20px;
	margin-left: 150px;
	margin-top: 50px;
	margin-bottom: 40px;
	background-color: white;
	float: left;
}
#aboutMe {
	margin: 25px 25px 0px 25px;
	padding: 0px 0px 40px 0px;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: #4AAAA5;
	border-bottom: solid lightgrey;
}
#headshot {
	float: left;
	max-width: 150px;
	max-height: 150px;
	padding: 25px;
}
#aboutText {
	padding: 25px 25px 25px 25px;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 30px;
	color: grey;
}
#connectBox {
	float: left;
	width: 18%;
	margin: 50px;
	padding: 25px 25px 25px 25px;
	background-color: white;
	text-align: center;
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4AAAA5;
}

#connect{
	padding: 10px 0px 20px 0px;
	font-weight: bold;
	border-bottom: solid 2px lightgrey;
}
#git {
	float: left;
	max-height: 50px;
	max-width: 50px;
	margin: 20px 10px 5px 25px;
}

#logos {
	float:left;
	max-height: 50px;
	max-width: 50px;
	margin: 20px 10px 5px 10px;
}
footer {
	text-align: center;
	background-color: grey;
	padding: 30px;
	color: lightgrey;
	font-family: arial;
	font-size: 12px;
	border-top: solid 10px #4AAAA5;
	
}

form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 25px;

	color: grey;
}

input {
	background-color: #4AAAA5;
	color: white;
	font-size: 18px;
	margin: 25px 0px 0px 0px;
	border: 0;
}
#image {
	float: left;
	margin: 23px;
	border: solid 1px lightgrey;
}

@media screen and (max-width: 980px){
	.wrapper {
		width: 980px;
		
	}
	#textBox{
		width: 30%;
		padding: 20px 20px 0px 20px;
		margin-left: 100px;
		margin-top: 50px;
		margin-bottom: 40px;
		background-color: white;
		float: left;
	}
	#headshot {
		float: left;
		max-width: 335px;
		max-height: 335px;
		padding: 25px;
	}
	#connectBox {
		float: left;
		width: 25%;
		margin: 50px;
		padding: 25px 25px 25px 25px;
		background-color: white;
		text-align: center;
		font-size: 18px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		color: #4AAAA5;
	}
	#aboutMe {
		margin: 25px 25px 0px 25px;
		padding: 0px 0px 20px 0px;
		font-size: 30px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		font-weight: bold;
		color: #4AAAA5;
		border-bottom: solid lightgrey;
		}
	#connect{
		padding: 0px 0px 20px 0px;
		margin: 10px 0px 0px 0px;
		font-weight: bold;
		border-bottom: solid 2px lightgrey;
		font-size: 22px;
	}
	#about {
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #9F9DA7;
		float: right;
		padding: 35px 15px 30px 15px;
		font-size: 20px;
	}
	
	#portfolio{
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #9F9DA7;
		float: right;
		padding: 35px 15px 30px 15px;
		font-size: 20px;
	}
	
	#contact{
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #9F9DA7;
		float: right;
		padding: 35px 95px 30px 15px;
		font-size: 20px;
	}
	#myName {
		background-color: #4AAAA5;
		width: 25%;
		padding: 30px 10px 35px 10px;
		margin-left: 100px;
		text-align: center;
		font-size: 28px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		font-weight: bold;
		color: white;
		float: left;
	}
	#aboutText {
		padding: 25px 25px 25px 25px;
		font-size: 18px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		line-height: 30px;
		color: grey;
	}
	#textured{
		clear: both;
		overflow: auto;
		background-image: url("images/Subtle-Light-Tile-Pattern-Vol4.jpg");
		width: 100%;
		height: 100%;
		border-top: solid lightgrey;
	}
}

@media screen and (max-width: 768px){
	.wrapper {
		width: 768px;
	}

	#textBox{
		width:80%;
		padding: 20px 20px 0px 20px;
		margin-left: 40px;
		margin-right: 25px;
		margin-top: 35px;
		margin-bottom: 40px;
		background-color: white;
		float: left;
	}
	#image {
		float: left;
		margin: 25px 25px 25px 25px;
		border: solid 1px lightgrey;
	}
	#headshot {
		float: left;
		max-width: 335px;
		max-height: 335px;
		padding: 10px 25px 25px 25px;
	}
	#connectBox {
		float: left;
		width: 83%;
		margin: 10px 10px 25px 40px;
		padding: 25px 10px 25px 10px;
		background-color: white;
		text-align: center;
		font-size: 18px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		color: #4AAAA5;
	}
	#aboutMe {
		margin: 10px 25px 25px 25px;
		padding: 0px 0px 30px 0px;
		font-size: 30px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		font-weight: bold;
		color: #4AAAA5;
		border-bottom: solid lightgrey;
		}
	#connect{
		padding: 0px 0px 25px 25px;
		margin: 10px 0px 0px 0px;
		font-weight: bold;
		border-bottom: solid 2px lightgrey;
		font-size: 24px;
		text-align: left;
	}
	#about {
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #9F9DA7;
		float: right;
		padding: 35px 15px 30px 15px;
		font-size: 20px;
	}
	
	#portfolio{
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #9F9DA7;
		float: right;
		padding: 35px 15px 30px 15px;
		font-size: 20px;
	}
	
	#contact{
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #9F9DA7;
		float: right;
		padding: 35px 75px 30px 15px;
		font-size: 20px;
	}
	#myName {
		background-color: #4AAAA5;
		width: 25%;
		padding: 30px 10px 35px 10px;
		margin-left: 40px;
		text-align: center;
		font-size: 28px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		font-weight: bold;
		color: white;
		float: left;
	}
	#aboutText {
		padding: 5px 25px 25px 25px;
		font-size: 18px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		line-height: 30px;
		color: grey;
	}
	
}

@media screen and (max-width: 640px)
{
	.wrapper {
		width: 640px;
	}
	#myName {
		background-color: #4AAAA5;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 30px 10px 35px 10px;
		text-align: center;
		font-size: 28px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		font-weight: bold;
		color: white;
		float: left;
	}
	#about {
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #9F9DA7;
		float: left;
		padding: 35px 25px 30px 75px;
		font-size: 20px;
	}
	
	#portfolio{
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #9F9DA7;
		float: left;
		padding: 35px 25px 30px 125px;
		font-size: 20px;
	}
	#contact{
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #9F9DA7;
		float: right;
		padding: 35px 75px 30px 25px;
		font-size: 20px;
	}
	#textBox{
		clear: both;
		width:80%;
		height: 100%;
		padding: 20px 10px 0px 10px;
		margin: 35px 25px 40px 70px;

		background-color: white;
		float: left;
	}
	#image {
		float: left;
		margin: 22px;
		border: solid 1px lightgrey;
		width: 90%;
	}
	#aboutMe {
		margin: 10px 25px 25px 25px;
		padding: 0px 0px 30px 0px;
		font-size: 30px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		font-weight: bold;
		color: #4AAAA5;
		border-bottom: solid lightgrey;
		}
	#headshot {
		float: left;
		margin: 10px 10px 10px 0px;
		width: 600px;
		height: 600px;
	}
	#aboutText {
		clear: both;
		padding: 5px 25px 25px 25px;
		font-size: 18px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		line-height: 30px;
		color: grey;
	}
	#connectBox {
		float: left;
		width: 80%;
		margin: 10px 10px 25px 70px;
		padding: 25px 10px 25px 10px;
		background-color: white;
		text-align: center;
		font-size: 18px;
		font-family: 'Georgia', Times, Times New Roman, serif;
		color: #4AAAA5;
	}
	#connect{
		padding: 0px 0px 25px 25px;
		margin: 10px 0px 0px 0px;
		font-weight: bold;
		border-bottom: solid 2px lightgrey;
		font-size: 24px;
		text-align: left;
	}

}
